In [46]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
from pykrx import stock

In [ ]:
tickers = stock.get_market_ticker_list("20221001") #get_market_ticker_list 함수 지정한 날짜에 상장된 모든종목 ticker를 반환하는 함수



# 티커(ticker)는 종목을 구분하기 위한 약어로, 종목마다 고유한 값을 갖습니다. 
# 미국은 약어로 표현해서 마이크로소프트는 MSFT, 애플은 AAPL로 사용하며,
# 한국은 6자리의 숫자 코드를 사용해서 삼성전자는 005930, LG전자는 066570입니다. 
# HTS나 MTS에서는 주로 종목명을 사용해서 종목을 조회하지만 파이썬 함수에서는 종목명보다 티커를 사용합니다.

In [ ]:
tickers = stock.get_market_ticker_list(market="KOSDAQ") # 코스닥
# market=ALL 모든시장 티커

In [6]:
t0 = stock.get_market_ticker_list("19950502")
t1 = stock.get_market_ticker_list("20221001")

print(len(t0), len(t1)) #각날짜의 티커 개수 출력

intersection = set(t0) & set(t1) #집합형 자료구조 set 활용 교집합 &
print(len(intersection)) #t0과 t1에 공통으로 존재하는 티커를 출력

complement = set(t1) - set(t0) #차집합
print(len(complement)) #t0에 없고 t1에만 존재하는 티커 출력 

#intersection 시작일부터 종료일까지 상장유지중인 종목
#complement 새롭게 상장된 종목

927 939
445
494

In [10]:
tickers = stock.get_index_ticker_list("20221001") #인덱스 티커 조회
print(tickers) 
for i in tickers[0:5]: #ticker 요소를 i에 집어넣으면서 반복
    name = stock.get_index_ticker_name(i) #티커의 이름을 알려주는 함수 # tickers 요소를 담은 i를 괄호 안에 넣으면 티커의 이름을 알수 있음
    print(i,name) # i = 인덱스 티커 조회[1001,1002] 같은 / name 티커의 이름 을 출력 
    
#

['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1022', '1024', '1025', '1026', '1027', '1028', '1034', '1035', '1150', '1151', '1152', '1153', '1154', '1155', '1156', '1157', '1158', '1159', '1160', '1167', '1182', '1224', '1227', '1232', '1244', '1894']
1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품

In [16]:
from pykrx import stock
#ohlcv 시가고가저가종가거래량

df = stock.get_market_ohlcv("20221001","20221031","005930") #시작일,종료일,종목티커  
df.head() #오름차순

               시가     고가     저가     종가       거래량           거래대금   등락률
날짜
2022-10-04  55300  55400  54500  55200  19148435  1056852669700  3.95
2022-10-05  56900  57200  55400  56000  22458970  1261934048318  1.45
2022-10-06  56700  57300  56300  56300  14944446   848081763100  0.54
2022-10-07  55900  56900  55200  56200  16886813   949027146468 -0.18
2022-10-11  54400  55700  54000  55400  21437877  1172168853325 -1.42

In [19]:
df = stock.get_market_ohlcv("20220801","20221131","005930","m") #맨 뒤에 d day m 월 y 년도 
# 22년 8월부터 22년 11월31일 까지의 월별 ohlcv 데이터 
df.head()

               시가     고가     저가     종가        거래량
날짜
2022-08-31  61000  61900  58200  59700  251681339
2022-09-30  58700  58900  51800  53100  288615372
2022-10-31  55300  60100  54000  59400  326537635
2022-11-30  59900  63200  58100  62200  290682036

In [20]:
#삼성전자는 18년 5월 4일에 액분해서 250에서 5만원이 되었는데 가격정보로 수익률을 계산하면 -98%가 되므로 오류 방지를 위해 수정주가를 사용
df = stock.get_market_ohlcv("20180810", "20181212", "005930", "m")
df.head()

               시가     고가     저가     종가        거래량
날짜
2018-08-31  46150  48450  43500  48450  135518029
2018-09-30  48200  48300  44000  46450  197984482
2018-10-31  46450  46800  40400  42400  234645485
2018-11-30  42450  45250  41750  41850  205923404
2018-12-31  42750  43400  40000  40450  102330648

In [21]:
# 수정주가를 반영하지 않으려면 뒤에 adjusted=False로 설정한다.
df = stock.get_market_ohlcv("20180101","20190531","005930", adjusted=False)
df.head()

                 시가       고가       저가       종가     거래량          거래대금   등락률
날짜
2018-01-02  2569000  2570000  2539000  2551000  169485  432677351468  0.12
2018-01-03  2627000  2628000  2571000  2581000  200270  518345810160  1.18
2018-01-04  2606000  2609000  2532000  2554000  233909  600531577700 -1.05
2018-01-05  2565000  2606000  2560000  2606000  189623  490792925116  2.04
2018-01-08  2620000  2626000  2575000  2601000  167673  435974098536 -0.19

In [40]:
#특정 일자의 전 종목 조회 
df = stock.get_market_ohlcv("20210104") 
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    4615    4650    4530    4580   344232   1575110755 -0.76
006840   25900   25900   25200   25250    92861   2353486200  0.40
027410    4895    4990    4845    4990   541483   2669964780  1.94
282330  134000  134000  132000  132000    47745   6345111000 -2.58
138930    5650    5660    5510    5560  2067437  11474411600 -2.11

In [44]:
#prev 이전 영업일 찾기 
#조회 일자가 휴일이면 기본적으로 다음 영업일을 찾기 때문에 만약 이전 영업일을 찾고 싶다면 prev
#df = stock.get_market_ohlcv("20210101", prev=True)
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    4615    4650    4530    4580   344232   1575110755 -0.76
006840   25900   25900   25200   25250    92861   2353486200  0.40
027410    4895    4990    4845    4990   541483   2669964780  1.94
282330  134000  134000  132000  132000    47745   6345111000 -2.58
138930    5650    5660    5510    5560  2067437  11474411600 -2.11

In [ ]:
# 짧은 시간에 많은 데이터를 요청하면 krx 서버에서 차단 당할 수 있으므로 time 모듈로 쉬면서 데이터를 가져와야 함 
import time
tickers = stock.get_market_ticker_list()
for t in tickers:
    df = stock.get_market_ohlcv("20210101","20210131", t) #날짜의 전종목 ohlcv 데이터를 df에 바인딩
    df.to_excel(f"{t}.xlsx") #데이터를 t라는 이름의 엑셀파일로 저장
    time.sleep(1) # 쉬는 시간

In [ ]:
# get_index_ohlcv 함수를 사용하면 지수의 OHLCV 데이터를 조회할 수 있습니다.
#기존 함수 이름에서 market이 index로 변경된 것을 눈여겨보세요.
import time
tickers = stock.get_index_ticker_list()
for t in tickers:
    df = stock.get_index_ohlcv("20210101","20210131", t)
    df.to_excel(f"{t}.xlsx")
    time.sleep(1)

In [47]:
from pykrx import stock

df = stock.get_market_fundamental("20210108") #펀더멘탈 선택날짜의 코스피 전종목 기술적 지표 
df.head()

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   6802   4.62  0.67   982  6.61   300
006840  62448  11.69  0.41  2168  2.96   750
027410  15699  17.46  0.31   281  2.24   110
282330  36022  16.09  3.91  8763  1.91  2700
138930  25415   3.51  0.23  1647  6.23   360

In [51]:
#저 PER 저 평가 주식 찾기 
df.sort_values("PER") #PER를 sort (오름차순) 

#PER은 현재주가를 EPS로 나눈 값이기 때문에 EPS가 0으로 이익이 없어서 PER도 0으로 출력 되는 애들도 있음 

# 순이익이 없는 종목을 제외하고 다시 찾기

df.query("PER!=0").sort_values("PER") #쿼리 메서드로 필터링 순이익이 존재하는 종목들만 정렬 된다 


df = stock.get_market_fundamental("20210104","20210108","005930") #시작일부터 종료일까지 삼성전자의 기술적 분석 데이터
df.head() #오름차순

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2021-01-04  37528  26.22  2.21  3166  1.71  1416
2021-01-05  37528  26.50  2.24  3166  1.69  1416
2021-01-06  37528  25.96  2.19  3166  1.72  1416
2021-01-07  37528  26.18  2.21  3166  1.71  1416
2021-01-08  37528  28.05  2.37  3166  1.59  1416